.tooltipContainer {
    position: relative;
    display: inline;
    cursor: pointer;
}

.icon {
    color: #888;
    font-size: 18px;
}

.tipText {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    color: #eaeaea;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    white-space: normal;
    max-width: 200px;
    min-width: 150px;
}

.tooltipContainer:hover .tipText {
    opacity: 1;
    visibility: visible;
}