.footer {
    margin-top: 5vh;
    padding-bottom: 20px;
    text-align: center;
    color: #eaeaea;
    border-top: 1px solid #3a3a3d;
    width: 100%;
}

.linkWrapper {
    margin: 15px 0;
}

.githubLink,
.backToTop {
    color: #eaeaea;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    transition: color 0.3s;
}

.githubLink:hover,
.backToTop:hover {
    color: #b3b3b5;
}

.icon {
    margin-right: 8px;
    vertical-align: middle;
}
