.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://cdn.strawpoll.com/images/stock/index-splash.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eaeaea;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 1.5s cubic-bezier(0.25, 0.4, 0.5, 0.25) forwards 0.5s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    max-width: 650px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .hero {
        height: 60vh;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
        padding: 8px 15px;
    }
}