.chartContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.orderedList {
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;
}

.voteItem {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #555;
}

.voteItem:last-child {
    border-bottom: none;
}