.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    min-width: 200px;
    max-width: 800px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.title {
    font-size: 1em;
    font-weight: 500;
    color: #eaeaea;
    margin: 0;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 2em;
    margin-right: 10px;
    animation: colorChange 2s infinite;
}

@keyframes colorChange {
    0% {
        color: #eaeaea;
    }
    50% {
        color: #808080;
    }
    100% {
        color: #eaeaea;
    }
}