.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 340px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.formChange {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.title {
    font-size: 1em;
    font-weight: 500;
    color: #eaeaea;
    margin: 0;
}
